// center
@mixin center($options: absolute) {
  @if $options == flex {
    display: flex;
    align-items: center;
    justify-content: center;
  } @else {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
