.error-page {
  %fd {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100px;
    @include respond-to(md) {
      background-position: left center;
    }
  }
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background-color: #f9f9fa;
  @include position(fixed, 0);
  &__text {
    text-align: justify;
    &.no-js {
      background-image: url("../assets/img/javascript.svg");

      @extend %fd;
    }
    &.old-page {
      background-image: url("../assets/img/dinosaur.svg");
      @extend %fd;
    }
    @include center;
    width: 80%;
    height: 110px;
    @include padding(110px null null null);
    @include respond-to(md) {
      @include padding(0 null null 110px);
      max-width: 469px;
      margin: 0 auto;
    }
    @include respond-to(xl) {
      width: auto;
    }

    &__title {
      font-weight: 300;
      @include font-fluid(28px 36px);
      margin-bottom: 12px;
    }
    &__desc {
      font-weight: 400;
    }
  }
}
