//  *
//  * use material design font scaling
//  * 1sp is 16px or 0.625rem
//  *

$page-titles: 20px;
$paragraph-text: 14px;

%font-light {
  font-weight: 300;
}
%font-regular {
  font-weight: 400;
}
%font-medium {
  font-weight: 500;
}
%font-bold {
  font-weight: 700;
}

h1 {
  @extend %font-light;
  font-size: 96px;
}
h2 {
  @extend %font-light;
  font-size: 60px;
}
h3 {
  @extend %font-regular;
  font-size: 48px;
}
h4 {
  @extend %font-regular;
  font-size: 34px;
}
h5 {
  @extend %font-regular;
  font-size: 24px;
}
h6,
.txt-titles {
  @extend %font-medium;
  font-size: 20px;
}

body,
.txt-paragraph {
  @extend %font-regular;
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

caption,
.txt-secondary {
  @extend %font-light;
  font-size: 12px;
  // * secondary text use lighter color
}

button,
.txt-list,
.txt-tab {
  @extend %font-medium;
  font-size: 14px;
}
input {
  font-size: 16px;
}
